.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartItem {
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 25px;
}

.cartItem img {
  width: 180px;
}

.cartItem .description {
  width: 100%;
  font-size: 20px;
}

.countHandler {
  display: flex;
  margin: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 130px;
  height: 40px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.countHandler button {
  padding: 5px;
}
